.product-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  );
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
}
.verified-icon-product {
  background-color: #007bff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-top: 5px;
}
.checkmark-product {
  color: white;
  font-size: 10px;
  margin-bottom: 2px;
  margin-right: 1px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 !important;
}

.small-text1 {
  font-size: 13px;
  margin: 0 7px 0 0;
  text-align: center;
}

.small-text2 {
  font-size: 15px;
  margin: 5px 7px 0 0;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.add-to-carts {
  background-color: #ff6000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-carts.added {
  background-color: #28a745;
}

.out-of-stock {
  color: #dc3545;
  font-weight: bold;
  margin-top: 10px;
}

.delivery-info {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.fast-delivery {
  background-color: #28a745;
  color: black;
  padding: 2px;
  text-align: center;
  margin-bottom: 5px;
}

.free-shipping {
  background-color: black;
  color: white;
  padding: 2px;
  text-align: center;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #333;
  border-radius: 50%;
  background-color: white;
  color: #ff4d4d;
  padding: 5px;
}

.favorite-icon.visible {
  opacity: 1;
}

.favorite-icon.favorited {
  color: red;
}


@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    );
  }
}

@media (max-width: 992px) {
  .product-list {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); 
  }
}

@media (max-width: 576px) {
  .product-list {
    grid-template-columns: 1fr; 
  }
}
