.search-page {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding: 0 10%;
}

h2 {
  font-size: 24px;
  color: #333;

}

.search-page p {
  color: #666;
}

.content-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.filter-container {
  flex: 1;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-container {
  background-color: #ffffff;
  border-radius: 8px;

}

.product-container p {
  text-align: center;
  color: #666;
}

@media (max-width: 480px) {
  .filter-container {
    display: none;
  }
}
